.button {
  &:disabled,
  &[data-disabled] {
    background-color: transparent;
  }
}

.chatSidebar {
  width: clamp(280px, 25vw, 400px);
  min-width: 280px;
  padding: var(--mantine-spacing-sm);
  overflow-y: auto;
  height: auto;
  border-right: 0.1px solid
    light-dark(var(--mantine-color-dark-0), var(--mantine-color-gray-7));
  transition: transform 0.3s ease;
}

.chatInputBar {
  border-top: 0.1px solid
    light-dark(var(--mantine-color-dark-0), var(--mantine-color-gray-7));
  position: relative;
}

.emojiPickerContainer {
  position: absolute;
  bottom: 60px;
  left: 0px;
  z-index: 1000;
}

.fileMenuContainer {
  position: absolute;
  bottom: 60px;
  left: 0px;
  z-index: 1000;
}

.chatHeader {
  border-bottom: 0.1px solid
    light-dark(var(--mantine-color-dark-0), var(--mantine-color-gray-7));
}

.chatContainer {
  flex: 1;
  height: 83vh;
  width: 100%;
  padding: 16px;
}

.chatLoader {
  height: 100%;
}

.openedChat {
  border-right: 1px solid
    light-dark(var(--mantine-color-dark-0), var(--mantine-color-gray-7));
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.emptyMessages {
  flex: 1;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.emptyChatContainer {
  height: 90%;
  display: flex;
  flex-direction: column;
}

/* Responsive styles */
.chatLayout {
  display: flex;
  height: 100vh;
  position: relative;
}

.sidebarContainer {
  position: relative;
  z-index: 1;
  height: 80vh;
}

.chatAreaContainer {
  flex: 1;
  height: 100%;
}

.mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.actionIconContainer {
  position: relative;
}

/* Mobile styles */
@media (max-width: 768px) {
  .chatSidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh;
    z-index: 1000;
    transform: translateX(-100%);
    background-color: var(--mantine-color-dark-7);
  }

  .chatSidebar.open {
    transform: translateX(0);
  }

  .chatAreaContainer {
    width: 100%;
  }

  .chatAreaContainer.sidebarOpen {
    display: none;
  }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .chatSidebar {
    width: 300px !important;
    min-width: 300px;
  }
}

.seachMessage {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid
    light-dark(var(--mantine-color-dark-0), var(--mantine-color-gray-7));
}

.searchMessage:hover {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-6)
  );
}
