.card {
   background-color: var(--mntine-color-body);
   height: 170px;
   display: flex;
   flex-wrap: nowrap; 
   flex-direction: row;
}

@media (max-width: 768px) {
   .card {
      flex-direction: column;
   }
}

.image {
   max-width: 170px;
}

@media (max-width: 768px) {
   .image {
      max-width: 100%;
      max-height: 180px;
   }
}

.body {
   padding: var(--mantine-spacing-xs);
}

.title {
   font-weight: 500;
   line-height: 1.2;
}
