.tab {
  font-size: var(--mantine-font-size-md);
  font-weight: 450;
  line-height: 1.3;
  border-left: 3.5px solid transparent;
  transition: border-color 100ms ease, color 100ms ease;


  &:hover {
    color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-gray-2));
    text-decoration: none;
    &:not([data-active]) {
      border-left-color: light-dark(
          var(--mantine-color-gray-5),
        var(--mantine-color-dark-3)
      );
    }
  }

  &[data-active] {
    z-index: 1;
    font-weight: 450;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border-left-color: #1f5de5;
  }
}
